@{
}

@{ }

<body style="padding-top: 10px">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel-heading">
            <h3>Owners Search Form</h3>
        </div>
        <form asp-controller="Owners" asp-action="Index">
            <div>
                <label for="company_name">Company Name</label>
                <br />
                <input type="text" name="company_name" placeholder="Wikizz, Forza, etc" />
            </div>
            <br />
            <div>
                <label for="first_name">First Name</label>
                <br />
                <input type="text" name="first_name" placeholder="Alex, Anna, etc" />
            </div>
            <br />
            <div>
                <label for="street_number">Street Number</label>
                <br />
                <input type="number" name="street_number" min="0" max="9999" step="1" />
            </div>
            <br />
            <div>
                <label for="race">Nationalites</label>
                <br />
                <input type="text" name="race" placeholder="Guatemalan, American Indian, etc" />
            </div>
            <br />
            <input type="submit" value="Filter" />
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Company Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Street Number</th>
                    <th scope="col">Nationalites</th>
                </tr>
            <tbody>
                @foreach (var owner in Model)
                {
                <tr>
                    <td>@owner.company_name</td>
                    <td>@owner.first_name</td>
                    <td>@owner.street_number</td>
                    <td>@owner.race</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>